---
import HeaderBrand from "./header/HeaderBrand.astro";
import HeaderDesktopNav from "./header/HeaderDesktopNav.astro";
import HeaderMobileMenu from "./header/HeaderMobileMenu.astro";
import HeaderMobileMenuButton from "./header/HeaderMobileMenuButton.astro";
---

<header
  class="sticky top-0 z-50 w-full bg-cream/40 backdrop-blur-2xl shadow-sm transition-all duration-300 border-b border-sage/10 support-[backdrop-filter]:bg-cream/30"
>
  <div
    class="max-w-7xl mx-auto px-6 md:px-12 h-20 flex items-center justify-between"
  >
    <HeaderBrand />
    <HeaderDesktopNav />
    <HeaderMobileMenuButton />
  </div>
  <HeaderMobileMenu />
</header>

<script>
  import { initHeader } from "../scripts/header/init";

  initHeader();
</script>
